* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.Portfolio {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, black 75%, pink 175%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header {
  color: transparent;
  text-align: center;
  letter-spacing: 5pt;
  padding: 1rem;
  font-size: 24pt;
  -webkit-text-stroke: hotpink 2px;
}